aniso8601==9.0.1
argcomplete==2.0.0
attrs==23.1.0
bitstring==4.0.2
blinker==1.6.2
click==8.1.3
colorama==0.4.6
dynaconf==3.1.12
ecdsa==0.18.0
esptool==4.5.1
Flask==2.3.2
Flask-HTTPAuth==4.8.0
flask-restx==1.1.0
fuzzywuzzy==0.18.0
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.2
pipx==1.1.0
pyrsistent==0.19.3
pyserial==3.5
pytz==2023.3
reedsolo==1.6.0
userpath==1.8.0
Werkzeug==2.3.4
zipp==3.15.0
